@page "/"
@inject HttpClient _client
@inject IJSRuntime js
@using Swaperoo_PE01_Grp9.Shared.Domain
@using Swaperoo_PE01_Grp9.Client.Static

<PageTitle>Index</PageTitle>
<head>
    <link href="css/landing.css" rel="stylesheet" />
</head>


<body>
    
    <div class="display">
        <div class="lady1"><img src="images/lady1.png" style="width: 400px;"></div>
        <div class="display_text">Do Your Part in Saving The World.<br>Buy Green.</div>
        <div class="lady2"><img src="images/lady2.png" style="width: 300px;"></div> 
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="Featured_grid">
                @if (Products != null)
                {
                    @foreach (var product in Products)
                    {
                        <div class="Featured">
                            <a href="/product/listed/@product.Id">
                                <div class="product_imgrow">
                                    <img class="product_img" src="@product.imagepath">
                                </div>

                                <div class="product_info">
                                    <p class="product_name">@product.Name</p>
                                    <p class="product_price">$@product.price</p>
                                </div>
                            </a>
                            <a href="/profile/@product.User.Id">
                                <div class="productuserpfp">
                                    <img class="product-userppfp" src="@product.User.profilepicture">
                                </div>
                                <div class="productusertext">
                                    <div class="productusername">
                                        @product.User.Name
                                    </div>
                                    <div class="productusername">
                                        Region: @product.User.Region
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </Authorized>
    </AuthorizeView>
    
</body>
@code {
    private List<Product>? Products;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // No need to check authentication state before making the API call
            Products = await _client.GetFromJsonAsync<List<Product>>(Endpoints.ProductsEndpoint);
        }
        catch (AccessTokenNotAvailableException ex)
        {
            // Handle exception if necessary
            Console.WriteLine($"AccessTokenNotAvailableException: {ex.Message}");
        }
    }
}