@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager Navigation
@implements IAsyncDisposable
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>Chat</PageTitle>

<head>
    <link href="css/landing.css" rel="stylesheet" />
    <link href="css/Chat.css" rel="stylesheet" />

</head>

<body>
    <div class="chatpage">
        <div class="chatbar">
            @if (Chats != null)
            {
                @foreach (var chat in Chats)
                {
                    @if (chat.Purchase != null && (chat.Purchase.User?.Id == userId || chat.Purchase.PurchaseProduct?.User?.Id == userId) ||
                                     chat.Swap != null && (chat.Swap.SwapProduct?.User?.Id == userId || chat.Swap.OfferItem?.User?.Id == userId))
                    {
                        <a href="/chat/view/@chat.Id" class="chatbarcontent">
                            <div class="chatbarcontent">
                                @if (@chat.PurchaseId != null)
                                {
                                    <div>
                                        @chat.Purchase.PurchaseProduct.User.Name
                                    </div>
                                    <div>
                                        @chat.Purchase.PurchaseProduct.Name
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        @chat.Swap.SwapProduct.User.Name
                                    </div>
                                    <div>
                                        @chat.Swap.SwapProduct.Name
                                    </div>
                                }
                            </div>
                        
                    </a>
                    }
                }
            }
        </div>
        <div class="chatarea">
            <div class="form-group">
                <label>
                    Message:
                    <input @bind="messageInput" size="50" />
                </label>

                <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
            </div>
            <hr>
            <ul id="messagesList">
                @foreach (var message in messages)
                {
                    <li>@message</li>
                }
            </ul>
        </div>
        
    </div>
</body>


@code {
    private List<Chat>? Chats;

    private List<User>? users;
    private string username;
    private int userId;
    public string name;

    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? messageInput;
    private string? receiverId;

    protected override async Task OnInitializedAsync()
    {

        Chats = await _client.GetFromJsonAsync<List<Chat>>($"{Endpoints.ChatsEndpoint}");
        users = await _client.GetFromJsonAsync<List<User>>($"{Endpoints.UsersEndpoint}");

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        Console.WriteLine($"Username: {user.Identity.Name}");
        // Get the userId from the user's identity
        username = user.Identity.Name;

        @foreach (var i in users)
        {
            if (i.Email == username)
            {
                userId = i.Id;
                name = i.Name;
            }
        }
        Console.WriteLine($"User ID: {userId}");


    }

    private async Task Send()
    {
        if (hubConnection is not null && messageInput != null)
        {
            await hubConnection.SendAsync("SendMessage", name, messageInput);
        }
        messageInput = null;
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}